 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*{
margin: 0px;
padding:0px;
font-family: 'Montserrat', sans-serif;
}

body{
  color: white;
  background-color: #71797E;
}

.title{
  background-color: #54595C;
  box-sizing: border-box;
  text-align: center;
}

#titlemain{
  font-weight: bold;
  color: #fff;
  font-family: 'Acme', sans-serif;
  font-size: 55px;
  text-shadow:
     0 0 7px #EAE121,
     0 0 10px #EAE121,
     0 0 21px #EAE121,
     0 0 42px #EAE121,
     0 0 84px #EAE121,
     0 0 126px #EAE121
}

.toptitles{
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  font-weight: bolder;
}

.listmap{
  display: flex;
  gap: 1vw;
  list-style-type: none;
  border: 8px solid #A26E09;
  border-radius: 12px;
  margin-bottom: 1.7vh;
  margin-top: 1.7vh;
  background-color: #54595C;
  margin-left: 2vh;
  margin-right: 2vh;
}

.innerDiv{
  display: flex;
  gap: 1vw;
  padding: 7px;
}

.createDiv{
  display: flex;
  flex-direction: column;
  margin-top: 1vh
}

.createContainer{
  display: flex;
  justify-content: center;
}

.objectsDiv{
  display: flex;
  flex-direction: column;
  margin-left: 4vh;
  margin-top: 3vh;
  gap: 2vh;
  overflow-y: scroll;
}

.search-container{
  margin-bottom: 1vh;
  gap: 2vh;
}

.search-section{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.Presearch{
  padding-left: 4vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.ul{
  display: flex;
  flex-direction: column;
  background-color: #37393A;
  margin: 0px;
  padding:0px;
}

.topmargin{
  height: 1.05vh
}

.botmargin{
  height: 1.5vh
}

.datadiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px
}

.itemName{
  font-weight: bold;
  font-size: 16px
}

.dept{
  font-size: 15px;
}

.qty{
  font-size: 11px
}

input{
  background-color: #37393A;
  color: white;
  border-color: #37393A;
  border-style: none;
  padding: 3.5px;
  margin: 2px;
  width: 180px
}

.addBtn{
  background-color: green;
  border: 1px solid green;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 25px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
  width: 99.3px;
  margin-left: 46px;
  margin-top: 6px;
  margin-bottom: 8px
}

.addBtn:hover,
.addBtn:active {
  font-size: 18px;
  font-weight: bolder;
  background-color: #71797E;
  border: 1px solid #71797E;
  color: white;
  text-shadow:
     0 0 7px green,
     0 0 21px green,
     0 0 42px green,
     0 0 84px green,
     0 0 126px green,
     0 0 371px green,
     0 0 1000px green,
     0 0 2000px #54595C,
     0 0 4000px #54595C,
     0 0 8000px #54595C,
     0 0 16000px #54595C,
     0 0 32000px #54595C,
     0 0 64000px #54595C,
     0 0 128000px #54595C,
     0 0 500000px #54595C
}

.createBtn{
  background-color: #37393A;
  border: 1px solid #37393A;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  height: 25px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: color 1.5s;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
  width: 70px;
  margin-left: 59px;
  margin-top: 2px;
  margin-bottom: 8px
}

.createBtn:hover {
  background-color: green;
  border: 1px solid green
}

.updateBtn{
  background-color: #37393A;
  border: 1px solid #37393A;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  margin: 0;
  text-decoration: none;
  transition-duration: color 1.5s;
  margin-right: 10px;
  width: 70px;
  margin-left: 51px;
  margin-top: 2px;
  margin-bottom: 8px
}

.updateBtn:hover {
  background-color: #CFC950;
  border: 1px solid #CFC950
}

.deletebutton{
  background-color: #37393A;
  border: 1px solid #37393A;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 30px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: color 1.5s;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  width: 99.3px;
}

.deletebutton:hover,
.deletebutton:focus {
  background-color: #900C3F;
  border: 1px solid #900C3F;
}


.description{
 font-size: 10px;
 padding-top: 8px;
 padding-bottom: 8px
}

.footer{
  display: flex;
  gap: 3px;
  left: 3;
  bottom: 0;
  width: 100%;
  background-color: #71797E
}

.footer a{
  padding: 15px;
  font-size: 60%;
}

.githubrepo img{
  width: 28px;
  height: 28px;
}

.linkedin img{
  width: 28px;
  height: 28px;
}
